 .category-linux{
                margin-bottom: 20px;
            }
             .custom-div {
                background-color: #f0f0f0;
                padding: 20px;
                margin-bottom: 20px;
                text-align: center;
                border-radius: 10px;
            }

            .custom-div .custom-div-content {
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .custom-div img {
                max-width: 100px;
                height: auto;
                margin-right: 20px;
            }

            .custom-div .text-and-link {
                text-align: left;
            }

            .custom-div p {
                margin-bottom: 10px;
            }

            .custom-div a {
                color: #0066cc;
                text-decoration: none;
            }
